@import url('style.css');

/* cardápio */
.cardapio {
    background: white;
}

.description-cardapio {
    font-size: 1rem;
    margin-bottom: 50px;
    font-weight: normal;
    text-align: center;
}

.filter-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap
}

.btn-filter {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-filter:hover,
.btn-filter:active {
    background-color: var(--cor-primaria);
    color: white;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 280px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-top {
    background: linear-gradient(135deg, #fed7da, #fd0075);
    padding: 16px;
    text-align: center;
    position: relative;
}

/* Tag no canto superior */
.tag {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Imagem */
.card-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-top: 20px;
}

/* Conteúdo do card */
.card-content {
    padding: 16px;
    text-align: center;
}

/* Título */
.card-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

/* Descrição */
.card-description {
    font-size: 14px;
    margin-bottom: 16px;
}

/* Rodapé do card */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Preço */
.card-price {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-primaria);
}

/* Botão */
.btn-card {
    background: var(--cor-primaria);
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(253, 0, 117, 0.4);
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-card:hover {
    background: #e00068;
    transform: scale(1.05);
}